@import 'tailwindcss';

:root {
  --background: #fff8f1;
  --foreground: #100007;
  --gray: #3e3d3d;
  --accent-dark: #136f63;
  --accent-light: #3fdec9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-accent-dark: var(--accent-dark);
  --color-accent-light: var(--accent-light);
  --font-sans: var(--font-quicksand);
  --font-mono: var(--font-quantico);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #100007;
    --foreground: #FFF8F1;
    --gray: #3E3D3D;
    --accent-dark: #136f63;
    --accent-light: #3FDEC9;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Quicksand, Helvetica, sans-serif;
}
